<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ activity?.title }}</ion-title>
  </ion-navbar>

</ion-header>

<load-tracker></load-tracker>

<ion-content padding>
    <table class="ibc-full-width" style="table-layout: fixed">
        <tbody id="participants">         
            <tr *ngIf="activity?.datetime">
                <td width="30%">時間</td>
                <td width="70%">{{activity?.datetime | date: 'yyyy年MM月dd日'}}</td>
            </tr>
            <tr *ngIf="activity?.location">
                <td width="30%">地點</td>
                <td width="70%">
                    <div>{{activity?.location}}</div>
                </td>
            </tr>
            <tr *ngIf="activity?.location">
                <td colspan="2">
                    <ibc-map
                        [address]="activity?.location"
                        [title]="activity?.location" 
                        height="200px">
                    </ibc-map>
                </td>
            </tr>
            <tr *ngIf="activity?.description">
                <td width="30%">內容</td>
                <td width="70%">{{activity?.description}}</td>
            </tr>               
            <tr *ngIf="persons && persons.length > 0">
                <td width="30%">參加者</td>
                <td width="70%">
                    <table class="ibc-full-width" style="table-layout: fixed">
                        <thead style="border-bottom: 1px solid #aeacb4" *ngIf="activity?.question">
                            <tr>
                                <td width="50%"></td>
                                <td width="50%">{{activity?.question}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let person of persons">
                                <td width="50%">{{person.name}}<span *ngIf="person.chinese_name">({{person.chinese_name}})</span></td>
                                <td width="50%">{{getParticipantFromPerson(person)?.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
<!--                     <div *ngFor="let person of persons">
                        {{person.name}}<span *ngIf="person.chinese_name">({{person.chinese_name}})</span>
                    </div> -->
                </td>
            </tr>            
        </tbody>
    </table>

    <ion-buttons class="ibc-top-margin-20" ion-end *ngIf="!activity.past && content.ibcFB.access_level > 0">
      <button ion-button block color="teal" ion-end *ngIf="myIndex < 0" [question]="question" (answer)="register($event)">我要報名</button>
      <button ion-button block color="danger" ion-end *ngIf="myIndex >= 0" (click)="cancel()">取消報名</button>
    </ion-buttons>

    <ion-buttons class="ibc-top-margin-20" ion-end *ngIf="commonSvc.isMember && content.auth && activity.chatId">
      <button ion-button block ion-end (click)="goToChat()">留言評論</button>
    </ion-buttons>

    <!-- <ibc-map lng="-32.89455339999999" lat="151.7181718" title="My Home" height="200px"></ibc-map> -->

    <p></p>

    <!-- <youtube-video [title]='"云上太阳"' [youtubeId]="'1pja2IszGOU'"></youtube-video> -->

    <ion-list>
        <ng-container *ngIf="activity?.videos?.length > 0">
            <h3 text-center >影像</h3>
            <ion-item-sliding *ngFor="let video of activity?.videos" class="ibc-v-margin-5">
                <div ion-item>
                    <youtube-video [title]='video.title' [youtubeId]="video.youtubeId"></youtube-video>
                </div>
                <ion-item-options side="right">
                  <a ion-button color="danger" (click)="removeVideo(video)">
                    删除
                  </a>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item-divider></ion-item-divider>            
        </ng-container>
        <h3 text-center >相片</h3>
        <ion-item-sliding *ngFor="let photo of activity?.pictures" class="ibc-v-margin-5">
            <img [src]="photo" ion-item (click)="openLink(photo)"/>
            <ion-item-options side="right">
              <a ion-button color="danger" (click)="removePhoto(photo)">
                删除
              </a>
            </ion-item-options>
        </ion-item-sliding> 
    </ion-list>

    <ion-buttons class="ibc-top-margin-20" ion-end *ngIf="commonSvc.isMember && content.auth">
      <button ion-button block ion-end color="teal-1" (click)="uploadPhoto()">上傳圖片</button>
      <button *ngIf="commonSvc.isWeb" ion-button block ion-end color="teal-1" (click)="addVideo()">添加Youtube</button>
    </ion-buttons>
<!--     <div>
        <div *ngFor="let photo of activity?.pictures" style="align-items: start">
            <img [src]="photo" (click)="openLink(photo)"/>
        </div>
    </div> -->
</ion-content>
