<ion-header>
  <ion-navbar>
    <ion-title>{{chapterMeta?.book}} 第{{chapterMeta?.chapter}}章</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce id="bible-chapter-content">
  <ion-list class="ibc-allow-text-select">
    <div ion-item *ngFor="let verse of verses" [class.ibc-highlight]="verse?.VerseSN == navParams?.data?.verseNumber">
      <div item-left style="width: 25px">{{verse?.VerseSN}}</div>
      <div class="ibc-allow-wrap">
        <div class="item-note">
          {{bibleSvc.useTraditional ? bibleSvc.s2tConvert(verse?.Chinese) : verse?.Chinese}}
        </div>
        <div class="item-note" *ngIf="bibleSvc.useEnglish">
          {{verse?.English}}
        </div>
      </div>
    </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="teal-1" (click)="bibleSvc.useEnglish = false; bibleSvc.useTraditional = false">简</button>
      <button ion-fab color="teal" (click)="bibleSvc.useEnglish = false; bibleSvc.useTraditional = true">繁</button>
      <button ion-fab color="dark" (click)="bibleSvc.useEnglish = !bibleSvc.useEnglish">Eng</button>
      <button ion-fab color="dark" (click)="reference()">參考</button>
      <button ion-fab color="light" (click)="search()"><ion-icon name="search"></ion-icon></button>
    </ion-fab-list>  
  </ion-fab>   
</ion-content>


