<!-- <ion-content class="outer-content"> -->
<ion-header>
</ion-header>

<ion-content>

    <ion-title style="text-align: center; margin-top: 3rem">{{itemToEdit?"編輯":"添加"}} {{pageTitle}}</ion-title>

    <ion-list *ngIf="data">

      <ng-container *ngFor="let d of definitions">
        <ion-item [ngSwitch]="d.type" *ngIf="!isHidden(d)">
          <ion-label stacked>{{d.caption || d.key}}</ion-label>
          <ion-input [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'number'" type="number" [(ngModel)]="data[d.key]"></ion-input>
          <ion-textarea [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'textarea'" [(ngModel)]="data[d.key]"></ion-textarea>
          <ion-checkbox [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'boolean'" [(ngModel)]="data[d.key]"></ion-checkbox>
          <ion-datetime [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'date'" [displayFormat]="d.subType1 || 'YYYY-MM-DD'" [pickerFormat]="d.subType2 || 'YYYY-MM-DD'" [(ngModel)]="data[d.key]"></ion-datetime>
        
          <ion-select [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'dropdown'" [(ngModel)]="data[d.key]">
            <ion-option [value]="o[d.lookupValue]" *ngFor="let o of d.lookupSource | async">{{getCaption(d.lookupCaption,o)}}</ion-option>
          </ion-select>
        
          <ion-select [disabled]="itemToEdit && d.disabled" *ngSwitchCase="'multi-dropdown'" [(ngModel)]="data[d.key]" multiple="true">
            <ion-option [value]="o[d.lookupValue]" *ngFor="let o of d.lookupSource | async">{{getCaption(d.lookupCaption,o)}}</ion-option>
          </ion-select>          
        
          <ion-input [disabled]="itemToEdit && d.disabled" *ngSwitchDefault [(ngModel)]="data[d.key]"></ion-input>
        </ion-item>
      </ng-container>

      <ion-item *ngIf="itemToEdit">
        <ion-label stacked>Item Index</ion-label>
        <ion-input disabled [(ngModel)]="index"></ion-input>
      </ion-item>
      <ion-item *ngIf="itemToEdit">
        <ion-label stacked>Item Id</ion-label>
        <ion-input disabled [(ngModel)]="itemToEdit.id"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button full color="teal" (click)="save()">保存</button>
    <button ion-button full color="light" (click)="cancel()">取消</button>

</ion-content>