<ion-header>

  <ion-navbar>
    <ion-title>編輯個人檔案</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="save()">
        保存
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<load-tracker></load-tracker>

<ion-content>

  <button ion-button block color="teal" (click)="showTaC = !showTaC">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    免責聲明
  </button> 

  <div *ngIf="showTaC" class="ibc-h-padding-5">
   <div>
     你是否願意公開個人聯繫資料，以便教會的兄弟姊妹能夠聯繫到你。該信息不會分享至依斯靈頓教會之外。
     你可以選擇不公開自己的聯繫方式，但是這樣你也無法看到別人的聯繫方式。
   </div>
   <div flexLayout="row" fxLayoutAlign="start center" class="ibc-full-width" flexLayoutGap="5px">
      <div fxFlex></div>
      <div>{{userForm?.controls?.shareInfo?.value ? '資料已公開': '資料未公開'}}</div>
      <ion-toggle [ngModel]="userForm?.controls?.shareInfo?.value" (ionChange)="confirmShareInfo($event)"></ion-toggle>
    </div>
  </div>  

  <button ion-button block color="teal" (click)="showAuthInfo = !showAuthInfo">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    修改個人密碼
  </button>
   
  <form [formGroup]="authForm" *ngIf="authForm" [@showAnimation]="showAuthInfo?'visible':'invisible'">

        <p *ngIf="!content.myselfContact.visited" style="color: red" text-center>首次登入必須修改密碼, 然後點擊【保存】</p>

        <ion-item>
            <ion-label floating>用戶名</ion-label>
            <ion-input type="text" [formControl]="authForm.controls.username"></ion-input>
        </ion-item>
        <ion-note style="color: red" ion-item text-right *ngIf="submittingAuthForm && authForm.controls.username.errors?.required">用戶名不能為空</ion-note>        

        <ion-item>
            <ion-label floating>輸入舊密碼</ion-label>
            <ion-input type="password" [formControl]="authForm.controls.oldpassword"></ion-input>
        </ion-item>
        <ion-note style="color: red" ion-item text-right *ngIf="submittingAuthForm && authForm.controls.oldpassword.errors?.required">舊密碼不能為空</ion-note>        

        <ion-item>
            <ion-label floating>輸入新密碼</ion-label>
            <ion-input type="password" [formControl]="authForm.controls.password1"></ion-input>
        </ion-item>
        <ion-note style="color: red" ion-item text-right *ngIf="submittingAuthForm && authForm.controls.password1.errors?.required">新密碼不能為空</ion-note>

        <ion-item>
            <ion-label floating>再次輸入新密碼</ion-label>
            <ion-input type="password" [formControl]="authForm.controls.password2"></ion-input>
        </ion-item>
        <ion-note style="color: red" ion-item text-right *ngIf="submittingAuthForm && authForm.controls.password2.errors?.required">重復新密碼不能為空</ion-note>
        <ion-note style="color: red" ion-item text-right *ngIf="submittingAuthForm && authForm.controls.password2.errors?.MatchPassword">兩次輸入的密碼不符</ion-note>

  </form>

  <button ion-button block color="teal" (click)="showPersonalInfo = !showPersonalInfo">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    更改個人資料
  </button>
   
   <form [formGroup]="userForm" *ngIf="userForm" [@showAnimation]="showPersonalInfo?'visible':'invisible'">

        <button ion-item (click)="selectAvatar()">
            <img class="img-avatar" [src]="userForm.controls.photoURL.value" item-left>
            <ion-note>編輯頭像</ion-note>
        </button>

        <ion-item>
            <ion-label floating>英文名</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>中文名</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.chinese_name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>電子郵件</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.email"></ion-input>
        </ion-item>   

        <ion-item *ngIf="ibcFB.providerData.length > 0">
            <ion-label floating>Gmail登錄郵件</ion-label>
            <ion-input type="text" disabled [value]="ibcFB.providerData[0]?.email"></ion-input>
        </ion-item>    

        <ion-item>
            <ion-label floating>電話</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.mobile"></ion-input>
        </ion-item>            

        <ion-item *ngIf="ibcFB.wechatAuthInfo.openid">
            <ion-label floating>微信</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.wechat"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>地址</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.address1"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.address2"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>省份</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.state"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>郵政編碼</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.postcode"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>國家</ion-label>
            <ion-input type="text" [formControl]="userForm.controls.country"></ion-input>
        </ion-item>        

        <ion-item>
          <ion-label>出生日期</ion-label>
          <ion-datetime displayFormat="MM月DD日" (ionCancel)="clearFormControl(userForm.controls.dob)" [formControl]="userForm.controls.dob"></ion-datetime>
        </ion-item>       

    </form>

  <button ion-button block color="teal" (click)="showMinistrySkills = !showMinistrySkills">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    我要參加事奉
  </button>

  <form *ngIf="userForm" [@showAnimation]="showMinistrySkills?'visible':'invisible'">
    <p style="padding-left: 1rem">請選擇你願意參加下面那種事奉，然後保存</p>
    <ion-item *ngFor="let skill of allSkills">
      <ion-label>{{skill.caption}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="skills[skill.key]" (click)="userForm.markAsDirty()" [ngModelOptions]="{standalone: true}" [name]="skill"></ion-checkbox>
    </ion-item>
  </form>

  <button ion-button block color="danger" [disabled]="ibcFB.providerData.length > 0" (click)="ibcFB.linkGoogle()">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    關聯到Google帳號 {{ibcFB.providerData.length > 0 ? '(已關聯)' : ''}}
  </button>

  <button *ngIf="content.allowWechat" ion-button block color="green" [disabled]="ibcFB.wechatAuthInfo.openid" (click)="ibcFB.linkWechat()">
    <ion-icon name="logo-arrow-forward"></ion-icon>
    關聯到微信帳號 {{ibcFB.wechatAuthInfo.openid ? '(已關聯)' : ''}}
  </button>

</ion-content>
