<ion-header>
   <ion-navbar>
      <ion-title>
         Photo Edit
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content>


   <!-- Select image from device photolibrary -->
<!--    <button
      ion-button
      block
      color="primary"
      (click)="selectImage()">Select an Image</button> -->



   <!-- Declare image cropper with following aspects:

        1. Template reference variable to allow component
           class to 'hook' into the cropper tool in DOM
        2. Set image from the component class's data object
        3. Apply settings from the component class's
           cropperSettings object
        4. Call the handleCropping method in the image
           cropper's onCrop event
    -->
   <img-cropper
      #cropper
      [image]="data"
      [settings]="cropperSettings"
      (onCrop)="handleCropping($event)"></img-cropper>


   <!-- Display the cropped image -->
<!--    <div
      *ngIf="data.image">

       <img
          [src]="data.image"
          [width]="croppedWidth"
          [height]="croppedHeight">
   </div> -->


   <!-- Display the save image button IF canSave
        property value is true
   -->
   <button
      *ngIf="canSave"
      ion-button
      block
      color="secondary"
      (click)="saveImage()">Save Image</button>


</ion-content>