<!--
  Generated template for the MinistryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>   
    <ion-title>事工輪替</ion-title>
    <ion-buttons end>
<!--       <button ion-button color="primary" *ngIf="displayName != 'Chinese'" (click)="displayName = 'Chinese'">
        中文名
      </button>
      <button ion-button color="primary" *ngIf="displayName != 'English'" (click)="displayName = 'English'">
        英文名
      </button>   -->            
      <button ion-button color="primary" [hidden]="ministrySvc.readonly" (click)="undo()">
        Undo
      </button>              
      <button ion-button color="primary" [hidden]="ministrySvc.readonly" (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">

    <ion-slides pager #slides style="height: 610px">
        <ion-slide *ngFor="let ministry of ministrySvc.ministrySheets; let i = index" style="align-items: start">
<!--             <div fxLayout="row" fxLayoutAlign="start center" class="ibc-full-width" style="padding-left: 6px; padding-right: 6px">
                <ion-icon name="remove"></ion-icon>
                <h2>{{ministry.date | date:'M月d日'}}</h2>
                <ion-icon name="add"></ion-icon>
            </div> -->
            <ion-list>

              <div fxLayout="row" fxLayoutAlign="center center" style="padding: 0.5rem">
                <button [hidden]="ministrySvc.readonly" class="ibc-content-button" ion-button small color="blue" (click)="removeSheet(i)" start>
                  <ion-icon name="remove"></ion-icon>
                </button>        
                <div fxFlex></div>
                <h3 class="ibc-h-padding-10" style="font-size: 1.8rem">{{ministry.date | date:'M月d日'}}</h3>
                <div fxFlex></div>
                <button [hidden]="ministrySvc.readonly" class="ibc-content-button" ion-button small color="blue" (click)="pushSheet()" end>
                  <ion-icon name="add"></ion-icon>
                </button>
              </div>

              <ion-item *ngFor="let role of ministrySvc.ministryRoles">
                <ion-label>{{role.caption}}</ion-label>
                <ion-note color="primary" *ngIf="ministrySvc.readonly && ministrySvc.getContact(ministry[role.key]) as contact" [contact-link]="contact" item-end></ion-note>
                <ion-select [ngModel]="ministry[role.key]" (ngModelChange)="setMinistry(ministry, role.key, $event)" *ngIf="!ministrySvc.readonly">
                  <ion-option [value]="null">N/A</ion-option>
                  <ion-option [value]="member.id" *ngFor="let member of ministrySvc[role.optionGetter]">{{member.name}} ({{member.chinese_name}})</ion-option>
                </ion-select>
                <ion-icon [style.visibility]="ministry[role.key] && ministry.confirm && ministry.confirm[ministry[role.key]]?'visible':'hidden'" name="checkmark" color="teal" item-right></ion-icon>
              </ion-item>            

            </ion-list>
        </ion-slide>
    </ion-slides>

    <button *ngIf="content.allowWechat" ion-button block color="green" [hidden]="ministrySvc.readonly" (click)="share()">
      微信分享
    </button>

</ion-content>

<load-tracker></load-tracker>
